
# Node
node_modules
dist
npm-debug.log
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
logs
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea

# Docker
**/pgdata/

#Sripts
subir_proyecto_github.bat

